/*.AreaList-Warp{
    position: relative;

}*/
.arealist-warp {
  .areaList-header {
    position: relative;
    height: 46px;
    line-height: 46px;
    background: #00bcd4;
    color: #fff;
    text-align: center;
  }

  .areaList-header .header-left {
    position: absolute;
    left: 0;
    top: 0;
  }

  .areaList-header .left-icon {
    padding-left: 10px;
    color: #fff;
  }

  .areaList-input {
    height: 55px;
    padding: 10px;
    background: #00bcd4;
  }

  .location-title {
    border: 1px solid rgb(202, 202, 202);
    border-top: none;
    border-right: none;
    border-left: none;
    background: rgb(230, 230, 230);
    padding: 2px;
  }

  .hot-city-title {
    border: 1px solid rgb(206, 206, 206);
    border-right: none;
    border-left: none;
    background: rgb(230, 230, 230);
    padding: 2px;
  }

  .item-title {
    border: 1px solid rgb(206, 206, 206);
    border-right: none;
    border-left: none;
    background: rgb(230, 230, 230);
    padding: 2px;
  }

  .city-name {
    display: inline-block;
    margin: 5px;
    width: 30%;
    text-align: center;
    border: rgb(206, 206, 206) solid 1px;
    color: rgba(0, 0, 0, 0.65);
  }

  .item-name {
    line-height: 30px;
    padding: 2px;
    border-bottom: 1px solid rgb(206, 206, 206);
    color: rgba(0, 0, 0, 0.65);
  }

  /*.index{
    position: fixed;
    right: 1vw;
    top: 26vh;
    color:rgb(0, 174, 255);
    background:red;
}*/

  .index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 100px;
    bottom: 0;
    width: 15px;
    color: rgb(0, 174, 255);
  }

  li {
    list-style-type: none;
  }

  .name-list {
    padding: 1px 8px 1px 1px;
  }

  /*.header-warp{
    position: sticky;
    top: -1px;
}*/

  .list-warp {
    overflow: hidden;
    position: absolute;
    top: 101px;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .index-name {
    line-height: 20px;
    text-align: center;
  }

  .search-content {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 101px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eee;
  }
}
